PORT=5000
NODE_ENV=development
API_PREFIX=/api

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_mysql_password
DB_NAME=medical_store_db
DB_CONNECTION_LIMIT=10

CLIENT_URL=http://localhost:5173
